/* Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset*/

body
    {
        background: rgba(55, 6, 23, 1);
        height: 700px;
        width: 1152px;

    }

    .Squares {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        background: rgba(244, 140, 6, 1);
        width: 458px;
        height: 150px;
        border-radius: 8px;
        display: flex;
        padding: 10px; 
        margin: 10px;
    }

    .box__sub {
        background: rgba(157, 2, 8, 1);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 10px;
        min-height: 78px;
        width: 78px;
        border-radius: 4px;
    }

    /* <Container 1> */
    .box:first-child {
        justify-content: flex-start;
        align-items: flex-end;  
    }
    /* </Container 1> */

    /* <Container 2> */
    .box:nth-child(2) {
        justify-content: center;
    }

    /* Provade ha min-height här och enbart height under .box__sub men  */
    /* </Container 2> */
    
    /* <Container 3> */
    .box:nth-child(3) {
        align-items: center;
        justify-content: flex-end;
    }
    /* </Container 3> */

    /* <Container 4> */
    .box:nth-child(4) {
        justify-content: space-between;
        align-items: flex-start; 
    }
    
    .box__sub-43 {
        display: flex;
        align-self: flex-end;
    }
    
    /* </Container 4> */

    /* <Container 5> */
    .box:nth-child(5) {
        justify-content: space-evenly;
        text-align: center;
        color: white;
    }

    .box__sub--51 {
        align-items: baseline;
    }

    .box__sub--51:nth-child(2) {
        align-self: center;
    }
  

    /* </Container 5> */

    /* <Container 6> */
    .box:nth-child(6) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1__sub-box62 {
        flex-grow: 2;
        align-items: baseline;
    }


    /* </Container 6> */